*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background:#1f1f14 ;
}
/* Navbar */
.topnav{
   display: flex;
   justify-content: center;
   margin-top: 30px;
   color: #fff;
   margin-bottom: 10px;
}
.topnav ul{
list-style-type: none;
margin-left:200px;
display: inline-flex;

}
.topnav li{
    width: 80px;
}
.logo{
    font-family: serif;
    font-size:25px;
  
}
.topnav a{
    color: #fff;
    text-decoration: none;
}
.topnav a:hover{
    color: #d31336 ;
    border-bottom:1px solid #d31336 ;
}
.user, .cart{
    justify-content: flex-end;
    font-size: 25px;
    width:50px;
   
}
.cart{
margin-left: 370px;
}
/* Bussiness intro */
.intro{
    color:#f3aa34;
    margin-top: 70px;
    margin-left: 70px;
    font-size: 20px;
}

.pefum{
    position: relative;
    width: 750px;
    height: 500px;
   float: right;
}
.lion{
    position: absolute;
    padding-left: 600px;
    padding-top: 150px;
    
}
.headline{
   color: #fff;
   font-size: 50px;
   font-family: serif; 
   margin-left: 50px;
 
}

.content{
    color:#868173;
    font-size: 20px;
    margin-left: 27px;
    margin-top:30px;
}


.video{
    margin-top: 60px;
    font-size: 20px;
    margin-right: 80px;
    }

.fa-circle-play{
color: #fff;
font-size: 25px;
margin-left: 100px;
margin-top: 60px;
}
.Feature{
  background: #fff;
  height: 400px;
  margin-top: 170px;
}
.container{
    display: flex;
}
.button-container{
    display: flex;
    justify-content: right;
        }
        .button{
            display: flex;
            list-style-type: none;
        }
        .button a{
            text-decoration: none;
            color: #fff;
        }
        .button a{
            color: #fff;
            text-decoration: none;
        }
        .button a:hover{
            color: #fff;
            border-bottom:1px solid #fff;
        
        }
        .shop{
          
            margin-left: 70px;
            margin-top: 60px;
            padding-top: 5px;
            padding-left: 12px;
            width: 130px;
            height: 30px;
            color: #fff;
            background: #f3aa34;
            border-radius: 10px;
           
        }
        .video{
            margin-top: 60px;
            font-size: 20px;
            margin-right: 80px;
            }
/* Why Us */
.main{
    width:25%;
    margin: 2%;
}
.col{
    color: #fa6b21;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 50px;
}
.col1{
    font-size: 30px;
    padding-top: 35px; 
    padding-left: 70px;
}
.col2{
    padding-top:30px;
    padding-bottom:5px;
    font-size: 25px;
}
/* Icon */
.fa-bath{
    background-color: #f3aa34;
    font-size: 25px;
    margin-top: 60px;
    width: 50px;
    height: 45px;
    padding-left: 12px;
    padding-top: 7px;
    border-radius: 50%;
}
.fa-book{
    background-color: #f3aa34;
    font-size: 25px;
    margin-top: 60px;
    width: 50px;
    height: 45px;
    padding-left: 12px;
    padding-top: 7px;
    border-radius: 50%;
}


.fa-burger{
    background-color: #f3aa34;
    font-size: 25px;
    margin-top: 60px;
    width: 50px;
    height: 45px;
    padding-left: 12px;
    padding-top: 7px;
    border-radius: 50%; 
}
.fa-bus{
    background-color: #f3aa34;
    font-size: 25px;
    margin-top: 60px;
    width: 50px;
    height: 45px;
    padding-left: 12px;
    padding-top: 7px;
    border-radius: 50%
}
/* Footer */
.footer {
    display: flex;
}
.history {
    color: #f3aa34;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 50px;
}
.his-content{
    color: #fff;
    font-size: 30px;
    font-family: serif;
    padding-top: 10px;
}
/* feature*/
.bg{
    display: flex;
    background: #fff;
    height: 300px;
    padding-top: 25px;
}

.Product-f{
    flex: 1;
    font-size: 20px;
    padding-left: 150px;
}
.images{
    flex: 1;
    display: flex;
  align-items: flex-end;
}
.big{
     margin-top: 20px;
     font-size: 30px;
}
.fa-circle-arrow-right{ 
     font-size: 30px;
     padding-left: 40px;
        padding-top: 30px;
    }
.fa-circle-arrow-left{
       font-size: 30px;
       padding-top: 30px; 
   }
/*.big{
    font-size: 40px;
    font-family: serif;
    padding-left: 150px;
    padding-bottom: 90px;
}
 .fa-circle-arrow-right{ 
 font-size: 30px;
 padding-left: 50px; 
}
.fa-circle-arrow-left{
    font-size: 30px; 
    padding-left: 200px;  
}
.images{
   float: right;
     gap:8px;
      }
      
      .coloum {
        width: 200px;
        gap:8px;
        font-size: 80px;
        margin-right: 20px;
      }


/* Feature page */
.head{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 40px;
}

h3 {
 color: #fff;
}
h5{
    color: #fff;
}

.service-section {
display: flex;
}
.service-section li{
    list-style-type: none;
}
.main1{
      display: flex;
      justify-content: flex-start;
      margin: 10px;
      margin-left: 50px;
      gap: 250px;
}
.main2{
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    gap: 250px;
    }
    .button-container{
     display: flex;
     justify-content: right;
    }
    .button1{
        display: flex;
        list-style-type: none;
    }
    .button1 a{
        text-decoration: none;
        color: #fff;
    }
    .button1 a{
        color: #fff;
        text-decoration: none;
    }
    .button1 a:hover{
        color: #fff;
        border-bottom:1px solid #fff;
    
    }
    .shop1{
      
        margin-left: 70px;
        margin-top: 60px;
        padding-top: 5px;
        padding-left: 12px;
        width: 130px;
        height: 30px;
        color: #fff;
        background: #f3aa34;
        border-radius: 10px;
       
    }
    .video1{
        margin-top: 60px;
        font-size: 20px;
        margin-right: 80px;
        }
    
    .fa-circle-play{
    color: #fff;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 60px;
    }
    .container-i{
        color: #f3aa34;
        padding-left: 446px;
        font-size: 17px;
    }
    .container-ii{
        color: #fff;
        padding-left: 440px;
        font-size: 50px;
    }
    .container-iii{
        background: #959d9f;
        margin-left: 100px;
        margin-right: 760px;
        margin-top: 60px;
        margin-bottom: 30px;
        border-radius: 10px;
        height: 150px;
        padding-left: 10px;
        padding-right: 200px;
        padding-top: 100px;
    }
    .container-iii .input{
        border: 2px solid black;
        color: #d31336;
    }
    .search-wrap{
        width: 500px;
        margin: 17px auto;
    }
    .search-wrap .search-box{
        position: relative;
        width: 700px;
        height: 130px;
        left: 50px;
        bottom: 70px;
    }
    .search-wrap .search-box .input{
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 60%;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 18px;
    }
    .search-wrap .search-box .btn{
        position: absolute;
        top: 0;
        right: 300px;
        width: 45px;
        height: 77px;
        background: #f3aa34;
        z-index: 1;
        cursor: pointer;
    }
    .search-wrap .search-box .btn:hover{
        background: #f3aa34;
    }
    .search-wrap .search-box .btn.btn-common .fa-magnifying-glass{
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translate(-50%,50%);
        color: #fff;
        font-size: 20px;
    }
    .search-wrap.search-wrap-1 .search-box .btn{
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }
    .search-wrap.search-wrap-1 .search-box .input{
        padding-right: 5px;
    }
/* media quary*/

    @media screen and (max-width:768px){
      
        .topnav{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 10px;
            color: #fff;
            margin-bottom: 25px;
         }
         .topnav ul{
            list-style-type: none;
            margin-left:9px;
            display: inline-flex;
            
            }
            .topnav li{
                width: 60px;
            }
            .logo{
                font-family: serif;
                font-size:15px;
              
            }
            .topnav a{
                color: #fff;
                text-decoration: none;
            }
            .topnav a:hover{
                color: #d31336 ;
                border-bottom:1px solid #d31336 ;
            }
            .user, .cart{
               display: flex;
                font-size: 18px;
               margin-right: 100px;
                margin-top: 10px;
               
            }
            .cart{
                margin-left: 0;
                }
    }

    @media screen and (max-width:768px){
        .intro{
            color:#f3aa34;
            margin-top: 30px;
            margin-left: 20px;
            font-size: 17px;
        }
        .pefum{
            display: block;
            position: relative;
            float: left;
        }
        .lion{
            position: absolute;
            padding-left: 200px;
            padding-top: 320px;
          
            
        }
        .headline{
           color: #fff;
           font-size: 19px;
           font-family: serif; 
           margin-left: 5px;
         
        }
        
        .content{
            color:#868173;
            font-size: 15px;
            margin-left: 17px;
            margin-top:25px;
        }
        .shop{
          
            margin-left: 20px;
            margin-top: 60px;
            padding-top: 3px;
            padding-left: 7px;
            width: 130px;
            height: 30px;
            color: #fff;
            background: #f3aa34;
            border-radius: 7px;
           
        }
        .video{
            margin-top: 60px;
            font-size: 19px;
            }
        
        .fa-circle-play{
        color: #f3aa34;
        font-size: 21px;
        margin-left: 60px;
        margin-top: 75px;
        }
        .Feature{
          background: #fff;
          height: 400px;
          margin-top: 257px;
        }
        .col{
            font-size: 20px;
            padding-top: 20px;
            padding-bottom: 5px;
            padding-left: 20px;
        }
        .col1{
            font-size: 25px;
            padding-top: 35px; 
            padding-left: 50px;
        }
        .col2{
            padding-top:30px;
            padding-bottom:15px;
            font-size: 14px;
        }
        .history {
            color: #f3aa34;
            font-size: 20px;
            padding-left: 10px;
            padding-top: 50px;
        }
        .footer {
            display: block;
        }
        .his-content{
            color: #fff;
            font-size: 30px;
            font-family: serif;
            padding-top: 10px;
        }
    }
    @media screen and (max-width:768px){
        .bg{
            display: block;
            background: #c3c4ff;
            height: 780px;
            padding-top: 25px;
        }
        .Product-f{
            flex: 1;
            font-size: 20px;
            padding-left: 50px;
        }
        .images{
            flex: 1;
            display: block;
          align-items: flex-end;
          margin-left: 20px;
          gap: 15px;
        }
        .big{
             margin-top: 20px;
             font-size: 30px;
             margin-left: 10px;
        }
        .fa-circle-arrow-right{ 
             font-size: 30px;
             padding-left: 40px;
                padding-top: 30px;
            }
        .fa-circle-arrow-left{
               font-size: 30px;
               padding-top: 30px; 
           }
           .head{
            display: flex;
            justify-content: center;
            color: #d31336;
            font-size: 25px;
            padding-top: 30px;
            padding-bottom: 40px;
        }
        
        h3 {
         color: #cb3a28;
        }
        h5{
            color: #fff;
            font-size: 12px;
        }
        
        .service-section {
        display: flex;
        }
        .service-section li{
            list-style-type: none;
        }
        .main1{
        display: block;
        justify-content: flex-start;
        margin: 15px;
        gap: 100px;
        }
        .main2{
            display: block;
            justify-content: flex-end;
            margin: 15px;
            gap: 100px;
            }
            .shop1{
          
                margin-left: 20px;
                margin-top: 60px;
                padding-top: 3px;
                padding-left: 7px;
                width: 130px;
                height: 30px;
                color: #fff;
                background: #f3aa34;
                border-radius: 7px;
               
            }
            .video1{
                margin-top: 60px;
                font-size: 19px;
                }
                .container-i{
                    color: #f3aa34;
                    padding-left: 25px;
                    font-size: 17px;
                    padding-top: 40px;
                }
                .container-ii{
                    color: #fff;
                    padding-left: 40px;
                    font-size: 30px;
                }
                .container-iii{
                    position: relative;
                    background: none;
                    margin-left: 5px;
                    margin-top: 60px;
                    margin-bottom: 30px;
                    border-radius: 10px;
                    height: 150px;  
                    padding-top: 100px;
                }
                .container-iii .input{
                    border: 2px solid black;
                    color: #d31336;
                }
                .search-wrap .search-box{
                    position: relative;
                   right: 300px;
                    width: 600px;
                    height: 100px;
                    bottom: 70px;
                }
                .search-wrap .search-box .input{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: 60%;
                    padding: 10px 20px;
                    border-radius: 5px;
                    font-size: 18px;
                }
                .search-wrap .search-box .btn{
                    position: absolute;
                    top: 0;
                    right: 270px;
                    width: 45px;
                    height: 60px;
                    background: #f3aa34;
                    z-index: 1;
                    cursor: pointer;
                }
                .search-wrap .search-box .btn:hover{
                    background: #d31336;
                }
                .search-wrap .search-box .btn.btn-common .fa-magnifying-glass{
                    position: absolute;
                    left: 50%;
                    top: 15px;
                    transform: translate(-50%,50%);
                    color: #fff;
                    font-size: 20px;
                }
                .search-wrap.search-wrap-1 .search-box .btn{
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                    border-top-left-radius: 4px;
                }
                .search-wrap.search-wrap-1 .search-box .input{
                    padding-right: 15px;
                }
            
    }













  