*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background:#1f1f14 ;
}
/* Navbar */
.topnav{
   display: flex;
   justify-content: center;
   margin-top: 30px;
   color: #fff;
   margin-bottom: 10px;
}
.topnav ul{
list-style-type: none;
margin-left:200px;
display: inline-flex;

}
.topnav li{
    width: 80px;
}
.logo{
    font-family: serif;
    font-size:25px;
  
}
.topnav a{
    color: #fff;
    text-decoration: none;
}
.topnav a:hover{
    color: #d31336 ;
    border-bottom:1px solid #d31336 ;
}
.user, .cart{
    justify-content: space-between;
    font-size: 25px;
    width:50px;
   
}
.cart{
margin-left: 170px;
}
/* Bussiness intro */
.content-1{
   height: auto;
   margin: auto;
   position: relative; 
   padding-top: 25px;
}
.content-1 h2{
    color: #f3aa34;
}
.content-2{
    color: #fff;
    font-size: 30px;
    padding-left: 70px;
    padding-top: 50px;
    font-family: serif;

}
 .per{
    padding-left: 60px;
    padding-bottom: 25px;
    padding-top: 50px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #868173;
}
.cn{
    width: 160px;
    height: 40px;
    background: #f3aa34;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.cn a{
    text-decoration: none;
    color: #fff;
}
.cn a:hover{
    color: #1f1f14;
    border-bottom: 1px solid #fff;
}
.color a{
    text-decoration: none;
    color: #fff;
}
.color a:hover{
    color: #d31336;
    border-bottom: 1px solid #fff;
}
.pic{
   position: absolute;
   top: 99px;
   left: 790px;
   border-radius: 10px ;
}

.Feature{
  background: #fff;
  height: 400px;
  margin-top: 170px;
}
.container{
    display: flex;
}
.button-container{
    display: flex;
    justify-content: space-between;
        }
        .button{

            list-style-type: none;
        }
        .button a{
            text-decoration: none;
            color: #fff;
        }
        .button a{
            color: #fff;
            text-decoration: none;
        }
        .button a:hover{
            color: #fff;
            border-bottom:1px solid #fff;
        
        }
        .video1{
            text-decoration: none; 
            color: #fff;
            font-size: 15px;
        }
        .video1 a:hover{
            color: #0000;
            border-bottom:1px solid #fff;
        }
        .shop{
          
            margin-left: 70px;
            margin-top: 60px;
            padding-top: 5px;
            padding-left: 12px;
            width: 130px;
            height: 30px;
            color: #fff;
            background: #f3aa34;
            border-radius: 10px;
           
        }
        .video{
            margin-top: 60px;
            font-size: 20px;
            margin-right: 80px;
            }
/* Why Us */
.main{
    width:25%;
    margin: 2%;
}
.col{
    color: #fa6b21;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 50px;
}
.col1{
    font-size: 30px;
    padding-top: 35px; 
    padding-left: 70px;
}
.col2{
    padding-top:30px;
    padding-bottom:5px;
    font-size: 25px;
}
/* Icon */
.fa-bath{
    background-color: #f3aa34;
    font-size: 25px;
    margin-top: 60px;
    width: 50px;
    height: 45px;
    padding-left: 12px;
    padding-top: 7px;
    border-radius: 50%;
}
.fa-book{
    background-color: #f3aa34;
    font-size: 25px;
    margin-top: 60px;
    width: 50px;
    height: 45px;
    padding-left: 12px;
    padding-top: 7px;
    border-radius: 50%;
}


.fa-burger{
    background-color: #f3aa34;
    font-size: 25px;
    margin-top: 60px;
    width: 50px;
    height: 45px;
    padding-left: 12px;
    padding-top: 7px;
    border-radius: 50%; 
}
.fa-bus{
    background-color: #f3aa34;
    font-size: 25px;
    margin-top: 60px;
    width: 50px;
    height: 45px;
    padding-left: 12px;
    padding-top: 7px;
    border-radius: 50%
}
/* Footer */
.footer {
    display: flex;
}
.history {
    color: #f3aa34;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 50px;
}
.his-content{
    color: #fff;
    font-size: 30px;
    font-family: serif;
    padding-top: 10px;
}
/* feature*/
.bg{
    display: flex;
    background: #fff;
    height: 300px;
    padding-top: 25px;
}

.Product-f{
    flex: 1;
    font-size: 20px;
    padding-left: 150px;
}
.images{
    flex: 1;
    display: flex;
  align-items: flex-end;
}
.big{
     margin-top: 20px;
     font-size: 30px;
}
.fa-circle-arrow-right{ 
     font-size: 30px;
     padding-left: 40px;
        padding-top: 30px;
    }
.fa-circle-arrow-left{
       font-size: 30px;
       padding-top: 30px; 
   }


/* Feature page */
.head{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 40px;
}

h3 {
 color: #fff;
}
h5{
    color: #fff;
}

.service-section {
display: flex;
}
.service-section li{
    list-style-type: none;
}
.main1{
      display: flex;
      justify-content: flex-start;
      margin: 10px;
      margin-left: 50px;
      gap: 250px;
}
.main2{
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    gap: 250px;
    }
    .button-container{
     display: flex;
     justify-content: right;
    }
    .button1{
        display: flex;
        list-style-type: none;
    }
    .button1 a{
        text-decoration: none;
        color: #fff;
    }
    .button1 a{
        color: #fff;
        text-decoration: none;
    }
    .button1 a:hover{
        color: #fff;
        border-bottom:1px solid #fff;
    
    }
    .imagei{
        width: 500px;
         height: 350px;
    }
    .shop1{
      
        margin-left: 70px;
        margin-top: 60px;
        padding-top: 5px;
        padding-left: 12px;
        width: 130px;
        height: 30px;
        color: #fff;
        background: #f3aa34;
        border-radius: 10px;
       
    }
    .video1{
        margin-top: 60px;
        font-size: 20px;
        margin-right: 80px;
        }
    
    .fa-circle-play{
    color: #fff;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 60px;
    }
    .container-i{
        color: #f3aa34;
        padding-left: 446px;
        font-size: 17px;
    }
    .container-ii{
        color: #fff;
        padding-left: 440px;
        font-size: 50px;
    }
    .submit-footer{
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(255, 255, 255, 0.8);
        margin: 40px;
    }
    button{
        color: #fff;
        background-color: #f3aa34;
        margin-top: 20px;
        height: 60px;
    }
    input{
        height: 60px;
        width: 250px;
        margin-top: 50px;
    }
   
    

  
    
/* media quary*/
@media (max-width:768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
        justify-content: center;
        flex-wrap: wrap;
    }
    body{
        background:#1f1f14;
        flex-direction: column;
        flex-wrap: wrap;
    }
    /* Navbar */
    .topnav{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        color: #fff;
        margin-bottom: 10px;
     }
     .topnav ul{
        list-style-type: none;
        margin-left:100px;
        display: block;
        
        }
        .logo{
            font-family: serif;
            font-size:20px;
            background-color: #f3aa34;
            border-radius: 5px;
            height: 25px;
          
        }
        .user, .cart{
            font-size: 25px;
            width:40px;
           
        }
        .cart{
        margin-left: 150px;
        }
        /* Bussiness intro */
        .content-1{
           height: auto;
           margin: auto;
           position: relative; 
           padding-top: auto;
        }
        .content-2{
            color: #fff;
            font-size: 30px;
            padding-left: 20px;
            padding-top: 50px;
            font-family: serif;
            margin-right: 10px;
        
        }
        .per{
            display: flex;
            flex-wrap: wrap;
            padding-left: 20px;
            padding-bottom: 25px;
            padding-top: 25px;
            font-family: arial;
            letter-spacing: 1px;
            line-height: 30px;
            color: #868173;
        }
        .cn{
            width: 110px;
            height: 40px;
            background: #f3aa34;
            margin-bottom: 10px;
            margin-left: 12px;
            font-size: 15px;
            border-radius: 10px;
            cursor: pointer;
        }
       
        .color a{
            text-decoration: none;
            color: #fff;
            font-size: 12px;
        }
        .color a:hover{
            color: #d31336;
            border-bottom: 1px solid #fff;
        }
        .main{
            display: block;
            flex-direction: column;
            flex-wrap: wrap;
            width:100%;
            margin-left: 80px;
        }
        .pic{
            position: absolute;
            top: 670px;
            left: 40px;
            border-radius: 10px ;
         }
         .pic-body{
             width: 280px;
              height: 300px;
              border-radius: 8px;
         }
        .Feature{
            display: block;
            flex-direction: column;
            flex-wrap: wrap;
          background: #fff;  width: 375px;
          height: 100%;
          margin-top: 388px;
        }
        .col{
            font-size: 20px;
            padding-top: 20px;
            padding-bottom: 5px;
            padding-left: 20px;
        }
        .col1{
            font-size: 25px;
            padding-top: 35px; 
            padding-left: 50px;
        }
        .col2{
            padding-top:30px;
            padding-bottom:15px;
            font-size: 30px;
            color: #d31336;
        }
        .comfortable{
            font-size: 20px;
            font-family: arial;
            letter-spacing: 1.2px;
            line-height: 30px;

        }
        .fa-bath{
            background-color: #f3aa34;
            font-size: 25px;
            margin-top: 60px;
            width: 50px;
            height: 35px;
            padding-left: 12px;
            padding-top: 7px;
            border-radius: 50%;
        }
        .fa-book{
            background-color: #f3aa34;
            font-size: 25px;
            margin-top: 60px;
            width: 50px;
            height: 45px;
            padding-left: 12px;
            padding-top: 7px;
            border-radius: 50%;
        }
        .fa-burger{
            background-color: #f3aa34;
            font-size: 25px;
            margin-top: 60px;
            width: 50px;
            height: 35px;
            padding-left: 12px;
            padding-top: 7px;
            border-radius: 50%; 
        }
        .fa-bus{
            background-color: #f3aa34;
            font-size: 25px;
            margin-top: 60px;
            width: 50px;
            height: 35px;
            padding-left: 12px;
            padding-top: 7px;
            border-radius: 50%
        }
        .footer {
            display: block;
            flex-wrap: wrap;
        }
        .footer-img{
            width: 365px;
        }
        .history {
            color: #f3aa34;
            font-size: 20px;
            padding-left: 10px;
            padding-top: 50px;
        }
     
        .his-content{
            color: #fff;
            font-size: 30px;
            font-family: serif;
            padding-top: 10px;
        }
        /*feature-page*/
        .bg{
            display: block;
            background: #c3c4ff;
            height: 780px;
            width: 365px;
            padding-top: 25px;
        }
        .Product-f{
            flex: 1;
            flex-wrap: wrap;
            font-size: 20px;
            padding-left: 50px;
        }
        .imagei{
            width: 332px;
             height: 350px;
        }
        .images{
            flex: 1;
            display: block;
          margin-left: 40px;
        }
        .head{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            color: #d31336;
            font-size: 25px;
            padding-top: 30px;
            padding-bottom: 40px;
        }
        h3 {
            color: #cb3a28;
           }
           h5{
               color: #fff;
               font-size: 12px;
           }
           .service-section {
            display: flex;
            }
            .service-section li{
                list-style-type: none;
            }
            .main1{
            display: block;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 15px;
            gap: 100px;
            }
            .main2{
                display: block;
                justify-content: flex-end;
                flex-wrap: wrap;
                margin: 15px;
                gap: 100px;
                }
                .container-i{
                    color: #f3aa34;
                    padding-left: 25px;
                    font-size: 17px;
                    padding-top: 40px;
                }
                .container-ii{
                    color: #fff;
                    padding-left: 40px;
                    font-size: 30px;
                }
                button{
                    color: #fff;
                    background-color: #f3aa34;
                    margin-top: 20px;
                    height: 50px;
                }
                input{
                    height: 60px;
                    width: 200px;
                    margin-top: 15px;
                    margin-bottom: 20px;
                }      
}
@media (max-width:868px){
    .bg{
        display: block;
        background: #c3c4ff;
        height: 780px;
        width: 393px;
        padding-top: 25px;
    }
    .Feature{
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
      background: #fff;   width: 393px;
      height: 100%;
      margin-top: 388px;
    }
    .footer-img{
        width: 393px;
    }
}
@media (max-width:900px){
    .bg{
        display: block;
        background: #c3c4ff;
        height: 780px;
        width: 415px;
        padding-top: 25px;
    }
    .Feature{
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
      background: #fff;    width: 415px;
      height: 100%;
      margin-top: 388px;
    }
    .footer-img{
        width: 415px;
    }
}















  